// Place all the styles related to the omikujis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #efefef;
}

#btn {
  width: 200px;
  height: 200px;
  background: #ef454a;
  border-radius: 50%;
  margin: 30px auto;
  text-align: center;
  line-height: 200px; //line-heightプロパティを使えば、文字の行間を調節することができます。justify-content: center;は使えない
  color: #fff;
  font-weight: bold;
  font-size: 42px;
  cursor: pointer;
  box-shadow: 0 10px 0 #d1483e; //影のスタイルですが X 方向に 0 、 Y 方向に 10px 、ぼかしなし、色は少し濃いめの赤に設定したい
  user-select: none;
}

#btn:hover {
  opacity: 0.9;
}

#btn:active {
  box-shadow: 0 5px 0 #d1483e; //影のスタイルですが X 方向に 0 、 Y 方向に 10px 、ぼかしなし、色は少し濃いめの赤に設定したい
  margin-top: 35px;
}